.cart{

    .cartWrapper {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(1,1fr);
        .cartCard{
            margin-bottom:10px ;
            padding: 30px;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius:5px ;
            img{
                width: 80px;
            }
            .btn{
                background-color: purple;
                border: none;
                cursor: pointer;
                outline: none;
                color: white;
                padding: 5px 8px;
                border-radius: 3px;
            }
        }
    }
}